.keyboard-textarea {
    font-size: 20px;
    width: 50vw;
    height: 25vh;
    margin-top: 3%;
    margin-left: 25%;  
}

.keyboard {
    width: 100vw;
    height: 50vh;
    min-height: 255px;
    position: fixed;
    bottom: 0;
}

.keyboard__keys {
    text-align: center;
    margin: 0 auto;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 45px;
    margin: 3px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    &.keyboard__key_extra-wide {
        width: 26%; 
        max-width: 500px;
    }
    &.keyboard__key_wide {
        width: 12%;
        max-width: 90px;
    }
}